.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  display: flex;
  justify-content: center;
}

.bar-container {
  display: flex;
  height: 500px;
  width: 800px;
  border-style: solid;
  align-items: flex-end;
  justify-content: center;
}

.bar-data {
  width: 50px;
  background-color: rgb(216,31,77);
  margin-left: 40px;
  margin-right: 40px;
}

.legend-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.bar-legend {
  transform: rotate(270deg);
  margin-left: 30px;
  margin-right: 30px;
}

.box:hover .show{
  visibility: visible;
}

.show {
  visibility: hidden;
  position: absolute;
  height: 30px;
  width: 70px;
  border-style: solid;
}


